.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: var(--color-primary-main);
  text-align: center;
  &__header {
    color: var(--color-secondary-assist);
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }
  &__body {
    & > ul {
      display: flex;
      flex-direction: column;
      & > li {
        display: flex;
        flex-direction: column;
        .item-header {
          color: #fff;
          height: 60px;
          line-height: 60px;
          font-size: 18px;
        }
      }
    }
  }
}