:root {
  --color-primary-main: #000;
  --color-primary-assist: #262626;
  --color-secondary-main: #344955;
  --color-secondary-assist: #232f34;
  --color-secondary-assist: #4a6572;
}

body {
  color: #333;
}
ul, li {
  margin: 0;
  padding: 0;
}